.core-ui-rte {
    border-radius: 4px;
    border: 1px solid #d3d8df;
}

.core-ui-rte .tiptap {
    :first-child {
        margin-top: 0;
    }

    outline: none;
    padding: 12px 16px;
    max-height: 400px;
    overflow: auto;

    /* List styles */
    ul,
    ol {
        padding: 0 1rem;
        margin: 1.25rem 1rem 1.25rem 0.4rem;

        li p {
            margin-top: 0.25em;
            margin-bottom: 0.25em;
        }
    }

    /* Heading styles */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.1;
        margin-top: 2.5rem;
        text-wrap: pretty;
    }

    h1,
    h2 {
        margin-top: 3.5rem;
        margin-bottom: 1.5rem;
    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    h4,
    h5,
    h6 {
        font-size: 1rem;
    }
}

.core-ui-rte.core-ui-rte-error {
    border-radius: 4px;
    border: 1px solid #ff4d4f;
}

.core-ui-rte-edit-mode .tiptap {
    min-height: 100px;
}

.core-ui-rte.core-ui-rte-ghost-mode {
    border: 1px solid transparent;
    background-color: transparent;
    padding: 0px;
}

.core-ui-rte.core-ui-rte-ghost-mode .tiptap {
    padding: 0px;
}

.core-ui-rte-helper-text {
    color: #626e7e;
    font-size: 12px;
}

.core-ui-rte-helper-text.core-ui-rte-error {
    color: #ff4d4f;
}
